<%= javascript_include_tag 'create' %>

<div class="row">
  <div id="main" class="col-md-10 col-md-offset-1">

    <h1 class="app-heading">Overview</h1>
    <div id="loading-bar" ></div>
    <h2>Add new tasks, participants and passes</h2>
  </div>
</div>
<p></p>
<div class="row">  
  <div id="app-container" class="col-md-10 col-md-offset-1">
        
        <script type="text/template" id="table-tmpl">
          <table id="overview-table" class="">
            <tr>
              <td id="table-origin"></td>
              << for(var participant in participants) { >>
              <td class="participant-cell"><<= participants[participant] >></td>
              << } >>
              <td class="new-participant add"><i class="fa fa-plus-square fa-3x"></i></td>
            </tr>
            
            << for(var task in tasks) { >>
              <tr> 
                <td class="task-cell"><<= tasks[task]>></td>
                << for(var participant in participants) { >>
                <td class="pass-cell"></td>
                << } >>
              </tr>
            << } >> 
              <tr>
              <td class="new-task add" data-toggle="modal" data-target="#create-task-modal"><i class="fa fa-plus-square fa-3x"></i></td>
              </tr>

          </table>
        </script>
    
        <div class="modal fade" id="create-task-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new task</h4>
              </div>
              <div id="new-task-modal-body" class="modal-body">

              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary cancel-modal" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary submit-modal" data-dismiss="modal">Create</button>
              </div>


            </div>
          </div>
        </div>
    
  </div>
</div>


