<h1>heatmap</h1>

<div class="btn-group">
  <button type="radio" id="vis_tasktime" class="btn btn-default" checked>Visualize task time</button>
  <button type="radio" id="vis_sum" class="btn btn-default">Visualize sum</button>
  <button type="radio" id="vis_satisfaction" class="btn btn-default">Visualize satisfaction</button>
</div>