<div class="row">
  <div id="main" class="col-md-10 col-md-offset-1">

    <h1 class="app-heading">Heatmap</h1>
    <div id="loading-bar" ></div>
    <h2>Color-coded visualization of usability test data</h2>
  </div>
</div>
<p></p>
<div class="row">  
  <div id="app-container" class="col-md-10 col-md-offset-1">
      <div id="buttonbar">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active switch" data-action="tasktime" >
            <input type="radio" name="parameter" checked> task time
          </label>
          <label class="btn btn-default switch" data-action="markercount">
            <input type="radio" name="parameter"> marker count
          </label>
          <label class="btn btn-default switch" data-action="satisfaction">
            <input type="radio" name="parameter"> satisfaction
          </label>
          <label class="btn btn-default switch" data-action="completed">
            <input type="radio" name="parameter"> completed
          </label>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default replaceSet active" data-action="1">
            <input type="radio" name="set" checked> Prototype 1
          </label>
          <label class="btn btn-default replaceSet" data-action="2">
            <input type="radio" name="set"> Prototype 2
          </label>
          <label class="btn btn-default diff" data-action="1 2">
            <input type="radio" name="compare"> Compare 1 and 2
          </label>
        </div>
        
        
        <!--<div class="btn-group" data-toggle="buttons">
          <button type="radio" data-action="tasktime" class="btn btn-default active switch">task time</button>
          <button type="radio" data-action="markercount" class="btn btn-default switch">marker count</button>
          <button type="radio" data-action="satisfaction" class="btn btn-default switch">satisfaction</button>
          <button type="radio" data-action="completed" class="btn btn-default switch">was completed</button>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <button type="radio" data-action="prototype 1" class="btn btn-default replaceSet" checked>Prototype A</button>
          <button type="radio" data-action="prototype 2" class="btn btn-default replaceSet">Prototype B</button>
          <button type="radio" class="btn btn-default">Compare A and B</button>
        </div>-->
      </div>
  </div>
</div>
