<%= javascript_include_tag 'visualization' %>

<div class="row">
  <div id="main" class="col-md-10 col-md-offset-1">

    <h1 class="app-heading">Heatmap</h1>
    <div id="loading-bar" ></div>
    <h2>Color-coded visualization of usability test data</h2>
  </div>
</div>
<p></p>
<div class="row">  
  <div id="app-container" class="col-md-10 col-md-offset-1">
      <div id="buttonbar">
        <div class="btn-group" data-toggle="buttons">
          <label name="tasktime" class="btn btn-default active switch" data-action="tasktime" >
            <input type="radio" checked> task time
          </label>
          <label class="btn btn-default marker-switch" data-action="all">
            <input type="radio" name="markercount marker"> marker count
          </label>
          <label class="btn btn-default switch" data-action="satisfaction">
            <input type="radio" name="satisfaction"> satisfaction
          </label>
          <label class="btn btn-default switch" data-action="completed">
            <input type="radio" name="completed"> completed
          </label>
        </div>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default replaceSet active" data-action="1">
            <input type="radio" name="set" checked> Prototype 1
          </label>
          <label class="btn btn-default replaceSet" data-action="2">
            <input type="radio" name="set"> Prototype 2
          </label>
          <label class="btn btn-default diff" data-action="1 2">
            <input type="radio" name="compare"> Compare 1 and 2
          </label>
        </div>
        
        <script type="text/template" id="marker-button-bar-tmpl">
          <div id="marker-button-bar" class="btn-group" data-toggle="buttons">
            {{ _.each(codes, function(code) { }}
            
            <label class="btn btn-default marker-switch" data-action="{{= code }}" >
              <input type="radio" name="{{= code }}"> {{= code }}
            </label>
            
            {{ }); }}
          </div>
        </script>
      </div>
  </div>
</div>