<div class="row">
  <div id="main" class="col-md-10 col-md-offset-1">

    <h1>Heatmap</h1>
  </div>
</div>
<div class="row">  
  <div id="app-container" class="col-md-10 col-md-offset-1">
    <script type="text/x-handlebars">
      {{outlet}}
    </script>
  </div>
</div>
