<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <h1>Heatmap</h1>
    <div class="btn-group">
      <button type="radio" id="show_tasktime" class="btn btn-default" checked>Visualize task time</button>
      <button type="radio" id="show_sum" class="btn btn-default">Visualize sum</button>
      <button type="radio" id="show_satisfaction" class="btn btn-default">Visualize satisfaction</button>
    </div>
    <div class="btn-group">
      <button type="radio" id="show_proto1" class="btn btn-default" checked>Prototype A</button>
      <button type="radio" id="show_proto2" class="btn btn-default">Prototype B</button>
      <button type="radio" id="show_diff" class="btn btn-default">Compare A and B</button>
    </div>
    
  </div>
</div>